@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

.Navbar-container{
    display: flex;
    justify-content: space-between;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        background-image: linear-gradient(#808080,#282a2c);
        top: 0px;
        position: sticky;
        z-index: 8;
        height: 60px;
}

.button-navbar{
    background: none;
    border: none;
    font-size: 26px;
    color: white;
    font-family: 'Rubik Bubbles', cursive;
    text-decoration: none;
    padding-top: 12px;
    --bs-link-hover-color: white;
    text-align: center;
    padding-right: 50px;
    margin-right: 50px;
}

.titulo{
    color: white;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 32px;
    margin-top: 9px;
    padding-left: 40px;
}

.cartwidget{
    display: flex;
}

.cart-icono{
    width: 36px;
    height: 36px;
    align-self: center;
    margin-right: 30px;
}