.Navbar-container{
    display: flex;
    justify-content: space-evenly;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        background-image: linear-gradient(#808080,#282a2c);
        top: 0px;
        position: sticky;
        z-index: 8;
        height: 60px;
}

.button-navbar{
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    font-family: 'Rubik Bubbles', cursive;
}

.titulo{
    color: white;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 24px;
    margin-top: 15px;
}

.cartwidget{
    display: flex;
}

.cart-icono{
    width: 36px;
    height: 36px;
    align-self: center;
}